<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
</head>
<body>
<div th:text="${role}"></div>
<input type="hidden" id="accessToken" name="accessToken" th:value="${authTokens.getAccessToken()}">

<div th:if="${role == role.ADMIN}">
  <button class="button-to-admin" onclick="admin()">관리자 페이지</button>
</div>

<div th:if="${role == role.USER}">
  <button class="button-to-user" onclick="user()">마이 페이지</button>
</div>

<script>
  function moveAdmin() {
    $.ajax({
      url: '/admin/movies/insert',
      type: 'GET',
      success: function (res) {
        console.log(res);
      },
      error: function(error) {
        console.error(error);
      }
    });
  }

  function moveUser() {
    const accessToken = $("#accessToken").val();

    $.ajax({
      url: '/myPage',
      type: 'GET',
      headers: {
        'accessToken': accessToken
      },
      success: function (res) {
        window.location.href = '/myPage/myPage';
        console.log(res);
      },
      error: function(error) {
        console.error(error);
      }
    });
  }
</script>
</body>
</html>
